.FHFlyoverPopupStyle{
position:absolute;
top: -500px;
left: 0;
padding: 5px;
visibility: hidden;
border:1px solid #000000;;
font:normal 12px Verdana;
line-height: 18px;
z-index: 100;
background-color: #d5e5fa;
width: 200px;
filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135,Strength=5);
}

#arrowhead{
z-index: 101;
position:absolute;
top: -500px;
left: 0;
visibility: hidden;
}

